<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <!--<section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.ASPxClasses.SettingsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v13.2, Version=13.2.8.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />-->
    </sectionGroup>
  </configSections>
  <system.web>

    <webServices>
      <protocols>
        <add name= "HttpPost"/>
        <add name= "HttpGet"/>
      </protocols>
    </webServices>

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"  validateRequest="false">
    </pages>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <system.web>
    <customErrors mode="Off" />
    <sessionState mode="InProc" cookieless="false" timeout="1"/>
  </system.web>
  <system.webServer>
  </system.webServer>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="server=qds114476253.my3w.com;database=qds114476253_db;uid=qds114476253;pwd=zzc369963"
      providerName="System.Data.SqlClient" />
    <add name="qds114476253_dbConnectionString" connectionString="Data Source=qds114476253.my3w.com;Initial Catalog=qds114476253_db;User ID=qds114476253;Password=zzc369963"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

</configuration>